.menu-button {
    -fx-background-color: #F5F5F5;
    -fx-font-size: 14px;
    -fx-border-color: none;
}

.menu-button > .label {
    -fx-text-fill: #2233AA;
}

.menu-button:hover {
    -fx-background-color: #D9D9D9;
}

.button {
    -fx-background-color: #F5F5F5;
    -fx-text-fill: #2233AA;
    -fx-font-size: 14px;
    -fx-border-color: none;
}

.button:hover {
    -fx-background-color: #D9D9D9;
}
